@charset "utf-8";
div#cours_orange {
            margin: 0 auto;
            font-family: Calibri;
            padding: 0.5em 1em 1em 1em;
			float: left;
			margin-left: 10px;
			position: relative;
 
            /* rounded corners */
            -moz-border-radius: 10px;
            -webkit-border-radius: 10px;
            border-radius: 10px;
 
            /* add gradient */
            background-color: #FF5906;
            background: -webkit-gradient(linear, left top, left bottom, from(#996060), to(#FF5906));
            background: -moz-linear-gradient(top, #FF5906, #996060);
 
            /* add box shadows */
            -moz-box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
            -webkit-box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
            box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
}